/* Whole Document */

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0
}


/* Header */


header{
  display: flex;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid white;
  width: 100%;
}

.logo img{
  height: 50px;
  margin-left: 10px;
}

.logo{
  flex-grow: 1
}

nav span{
  display: inline-block;
}

a{
  color: seashell;
}

/* Body */
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  /* Mission */
.missions{
  display: flex;
  height:700px;
  background-image: url('../img-mission-background.jpg');
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1200px;
}

.statement, .list{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid white; */
  height: 50px;
  width: 1200px;
}

.mission-text{
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

  /* Tea */
.tea{
  display: flex;
  flex-direction:column;
  width: 1000px;
  /*border: 1px solid white;*/
  margin-top: 80px;
}

.tea-text, .tea-question{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.tea-pictures{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-pictures img{
  height: 200px;
  width: 300px;
  margin-right: 20px;
  /* border: 3px solid white; */
}

.tea-pictures h4{
  text-align: center;
  height: 30px;
  margin:10px auto;
}
